aside 
        background-color: $blue
        padding: 10px 20px
        min-width: 20vw
        section.logo-wrapper 
                +flex(space-between, flex-start)
                border-bottom: 4px dotted $paleBlue
                padding: 20px 0
                margin-bottom: 40px
        nav
                a
                        +flex(flex-start, center)
                        text-decoration: none
                        color: #abbcd0
                        font-size: 1.2rem
                        &:hover 
                                color: white
                        &:not(:last-of-type) 
                                margin-bottom: 20px
                        i 
                                margin-right: 10px
